@import url("variables.css");
@import url("fonts.css");
@import url("background.css");
@import url("flex.css");
@import url("positioning.css");
@import url("text.css");
@import url("card.css");
@import url("manifest.css");
@import url("subscribe.css");

body {
  margin: 0;
  padding: 0;

  color: var(--dark);

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
.h3,
.h4 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3,
.h3 {
  font-size: 34px;
}

h4,
.h4 {
  font-size: 24px;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.title {
  position: relative;

  margin-top: 0;
  margin-bottom: 185px;
}

.img-main {
  position: absolute;
  top: 55px;
  right: -270px;

  z-index: 1;

  width: auto;
  height: 525px;
}

.btn {
  display: inline-block;

  margin: 0;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--blue);
}

.btn-primary {
  color: var(--white);

  background: var(--primary);
}

.d-block {
  display: block;
}

.video {
  position: relative;
  top: 200px;

  margin-top: -170px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
